svg {
  overflow: visible;
  display: block;
  /* background: #eee; */
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
  background-image: linear-gradient(rgb(211, 211, 211), white, rgb(211, 211, 211));
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

video {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
  min-width: 400px;
  min-height: 400px;
}
